body {
  color: white;
  background-color: #1F2937;
  font-family: "Roboto", "Times New Roman", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
} 

h1 {
  font-size: 24px;
}

h2 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

p {
  margin: 8px 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

a {
  font-size: 18px;
  text-decoration: none;
}

a,
.gray-text {
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 7px 20px;
  border: none;
  border-radius: 8px;
  width: 120px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.intro {
  padding: 90px;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.intro-text {
  width: 400px;
  display: flex;
  flex-direction: column;
  flex: 0 2 auto;
}

.placeholder {
  background-color: gray;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}

.info {
  background-color: white;
  padding: 30px 90px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0
}

.info h2 {
  color: #1F2937;
  font-size: 36px;
}

.info p {
  color: rgb(75, 75, 75);
}

.cards {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  height: 150px;
  width: 150px;
  border: 3px solid #3882F6;
  border-radius: 15px;
}

.cards p {
  width: 150px;
  text-align: center;
}